<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mi.note">
    <application>
        <activity android:name=".net.micode.notes.ui.AlarmAlertActivity"/>
        <activity android:name=".net.micode.notes.ui.NoteEditActivity"/>
        <activity android:name=".net.micode.notes.ui.NotesListActivity"/>
        <activity android:name=".net.micode.notes.ui.NotesPreferenceActivity"/>
    </application>
</manifest>